* {
  box-sizing: border-box;
}

body {
  height: 140vh;
  display: flex;
  background-color: black;
  flex-direction: column;
  margin: 0;
}
.hero {
  padding: 20px;
  height: 5000px;
  width: 100%;
  background-color: black;
  border: solid black 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
img {
  background: radial-gradient(#e25822, black 75%);
  width: 100px;
}
h1 {
  font-family: VT323;
  font-size: 125px;
  color: #e25822;
  text-align: center;
  margin: auto 3;
}
h2 {
  color: #e25822;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: inherit;
  width: 100%;
  text-align: center;
}
button {
  width: 75%;
  text-align: center;
  font-weight: bold;
  font-family: VT323;
  font-size: 25px;
  border: solid 5px #e25822;
  background-color: black;
  padding: 2px;
  margin: 3px;
  color: white;
}
.infobox {
  height: 400px;
  width: 400px;
  background-color: black;
  border: dotted 2px #e25822;
  color: #e25822;
  font-family: VT323;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 0  0 50px 0;
 
}

.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #e25822;

}
.scoreboard {
  height: 300px;
  width: 300px;
  border: 1px solid #e25822;
  background-color: black
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.score {
  color: crimson;
  font-size: 40px;
  font-weight: bold;
  font-family: VT323;
  text-align: center;
}
#highScore {
  color: #e25822;
}
#lifeSpan {
  color: #e25822;
}
#scoreSpan {
  color: #e25822;
}
#star{
  margin: 5px, 5px, 5px, 5px;
}
#speaker{
  margin: 0 0 0 0;
  width: 70px;
}
#audio{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;

}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 800px;
  background-color: black;
  border-radius: 10px;
  margin: 200px 0 1px 0;
}
.signboard {
  height: 100px;
  width: 700px;
  background-color: hotpink;
  border: ridge 3px black;
  text-align: center;
  font-family: VT323;
  font-size: 50px;
  color: black;
}
#modID {
  display: inline-block;
}
.cell {
  
  font-size: 10px;
  background-color: darkblue;
  border-radius: 10px;
}
.wall {
  background-color: goldenrod;
  color: white;
  
}
.pacman {
  background-image: url("red_submarine.png");
  background-size: contain;
}

.sanctum5 {
  background-color: hotpink;
}
.sanctum {
  background-color: mediumblue;
}
.right {
  animation: pulse1 2s infinite;
  font-family: VT323;
  font-size: 30px;
}

.jewel {
  background-image: url("jewel.png");
  background-repeat: no-repeat;
  background-size: 50%, 50%;
  background-position: center;
}
.submarine3 {
  background-image: url("submarine3.png");
  background-size: contain;
  /* background-color: black; */
}
.submarine4 {
  background-image: url("submarine4.png");
  background-size: contain;
  /* background-color: black; */
}

.junction {
  /* background-color: hotpink; */
}
.pacmanClose {
  background-color: rgba(230, 183, 240, 0.8);
  filter: brightness(100%);
  animation: pulse2 2s infinite;
}



.submarine {
  background-image: url("subred.png");
  background-size: contain;
 
}
.submarine2 {
  background-image: url("subgreen.png");
  background-size: contain;
  
}
.alcohol {
  background-image: url("alcohol.png");
  background-size: contain;
}
.endCell{
  background-color: black;
}
#putin{
  position: absolute;
  width: 400px;
  display: none;
  z-index: 1;
}
#stop{
  display: none;
}
#reset{
  display: none;
}
footer{
  text-align: center;
}
#timer{
  animation: pulse3 2s infinite;
}

.maps{
  /* color: white */
}

@keyframes pulse {
  0% {
    background-color: mediumblue;
  }
  100% {
    background-color: darkblue;
  }
}
@keyframes pulse1 {
  0%,
  100% {
    background-color: crimson;
  }
  50% {
    background-color: #e25822;
  }
}
@keyframes pulse2 {
  0%, 100% {
    background-color: midnightblue;
  }
  30%, 70%{
    background-color: mediumblue;
  }
  40%,60% {
    background-color: turquoise;
  }
  45%, 55%{
    background-color: yellowgreen;
  }
  48%, 52%{
    background-color: chartreuse;
  }
  50%{
    background-color: lime;
  }
}

@keyframes pulse3 {
  0%,
  100% {
    background-color:   #e25822;
  }
  50% {
    background-color: crimson;
  }
}