* {
  box-sizing: border-box;
}

body {
  height: 140vh;
  display: flex;
  background-color: black;
  /* justify-content: space-around;
  align-items: center; */
  flex-direction: column;
  margin: 0;
}
.hero {
  padding: 20px;
  height: 5000px;
  width: 100%;
  background-color: black;
  border: solid black 3px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
img {
  background: radial-gradient(#e25822, black 70%);
  width: 100px;
}
h1 {
  font-family: VT323;
  font-size: 140px;
  color: #e25822;
  text-align: center;
  margin: auto 3;
}
h2 {
  color: #e25822;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: inherit;
  width: 100%;
  text-align: center;
}
button {
  width: 75%;
  text-align: center;
  font-weight: bold;
  font-family: VT323;
  font-size: 25px;
  border: solid 5px #e25822;
  background-color: black;
  padding: 2px;
  margin: 3px;
  color: white;
}
.infobox {
  height: 400px;
  width: 400px;
  background-color: black;
  border: dotted 2px #e25822;
  color: #e25822;
  font-family: VT323;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.gameboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.scoreboard {
  height: 300px;
  width: 300px;
  border: 1px solid violet;
  background-color: darkblue;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.score {
  color: hotpink;
  font-size: 40px;
  font-weight: bold;
  font-family: VT323;
  text-align: center;
}
#highScore {
  color: #e25822;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 800px;
  background-color: black;
  border-radius: 10px;
  margin: 100px 0 100px 0;
}
.signboard {
  height: 100px;
  width: 700px;
  background-color: hotpink;
  border: ridge 3px black;
  text-align: center;
  font-family: VT323;
  font-size: 50px;
  color: black;
}
#modID {
  display: inline-block;
}
.cell {
  /* border: 1px solid violet; */
  font-size: 10px;
  background-color: darkblue;
  border-radius: 10px;
}
.wall {
  background-color: sandybrown;
  color: white;
  /* border-radius: 10px; */
}
.pacman {
  background-image: url("red_submarine.png");
  background-size: contain;
  /* background-color: black; */
  /* default face right*/
  /* transform: rotateY(0deg); */
  /* makes face towards left */
  /* transform: rotateY(3.142rad); */
  /* makes face up */
  /* transform: rotateZ(-0.25turn); */
  /* makes face down */
  /* transform: rotateZ(90deg); */
}

.sanctum5 {
  background-color: hotpink;
}
.sanctum {
  animation: pulse 3s infinite;
}
#notifications {
  animation: pulse1 3s infinite;
  font-family: VT323;
  font-size: 30px;
}
@keyframes pulse1 {
  0%,
  100% {
    background-color: crimson;
  }
  50% {
    background-color: #e25822;
  }
}

@keyframes pulse {
  0% {
    background-color: mediumblue;
  }
  100% {
    background-color: darkblue;
  }
}
.jewel {
  background-image: url("jewel.png");
  background-repeat: no-repeat;
  background-size: 50%, 50%;
  background-position: center;
}
.submarine3 {
  background-image: url("submarine3.png");
  background-size: contain;
  /* background-color: black; */
}
.ghost2 {
  background-image: url("submarine4.png");
  background-size: contain;
  /* background-color: black; */
}
/* .ghost3 {
  background-image: url("ghost3.png");
  background-size: contain;
  background-color: black;
}
.ghost4 {
  background-image: url("ghost4.png");
  background-size: contain;
  background-color: black;
} */
.junction {
  /* background-color: hotpink; */
}
.pacmanClose {
  background-color: rgba(230, 183, 240, 0.8);
  filter: brightness(100%);
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background-color: midnightblue;
  }
  100% {
    background-color: darkblue;
  }
}
.submarineScan {
  /* background-color: hotpink; */
  /* background-image: url("sonar.gif");
  transform: rotate(90deg); */
}

.submarine2Scan {
  /* background-color: gold;
  filter: brightness(100%); */
  /* background-image: url("sonar.gif");
  transform: rotate(90deg); */
}
.submarine {
  background-image: url("subred.png");
  background-size: contain;
  transform: rotate(0deg);
  /* background-color: black; */
}
.submarine2 {
  background-image: url("subgreen.png");
  background-size: contain;
  /* background-color: black; */
}
.alcohol {
  background-image: url("alcohol.png");
  background-size: contain;
}
